/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2017, 12:30:03 AM
    Author     : bo
*/

		.AnchorPane {
   			 -fx-background-image: url("SiginPage.png");
                          -fx-background-repeat: stretch;   
                          -fx-background-size: 400 650;
                         
			
                }
                .list-view .list-cell:odd {
                    -fx-background-color: #ffffff;
                    -fx-text-fill:#000000;
                    -fx-font-size: 16pt;
                    -fx-font-family: "Comic Sans MS";
                     -fx-background-insets: 1 ;

                }
                .list-view .list-cell:even {
                    -fx-background-color: #ffffff;
                    -fx-text-fill: #000000;
                    -fx-font-size: 16pt;
                    -fx-font-family: "Comic Sans MS";
                    -fx-background-insets: 1 ;
                    
                }
            
